.homepage_container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: space-evenly;
}
.homepage_filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    gap: 10px;
} 
.homepage_filtername{
    display: flex;
}
.homepage_btn::before{
    content: 'Dark';
}
.dark .homepage_btn::before{
    content: 'Light';
}

.homepage_btn{
    border-radius: 50%;
    background-color: goldenrod;
    color: black;
    border: black solid 2px;
}
.homepage_btn:hover{
    color: goldenrod;
    background-color: black;
    border: goldenrod solid 2px;
}
.dark .homepage_btn{
    background-color: black;
    color: goldenrod;
    border: goldenrod 2px solid;
}
.dark .homepage_btn:hover{
    background-color: goldenrod;
    color: black;
    border: black 2px solid;
}